/* Shared Styles */ 
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
body{
    background-color: #1A0B2E;
}
.display-flex{
    display: flex;
}
.text-white{
    color: #FFFFFF;
}
.btn{
    border-radius: 10000px;
    padding: 12.5px 16px;
}
/* Navbar related styles */
.navbar{
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    background-color: #1A0B2E;
    padding:0 20px;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.2);
}
.nav-links{
    gap: 20px;
}
.nav-items{
    list-style: none;
}
.nav-items a{
    text-decoration: none;
    color: #FFFFFF;
}
#Tech{
    font-weight: 700;
    font-size: 1.5rem;
}
#Wave{
    font-weight: 700;
    color: rgba(251, 9, 180, 1);
    font-size: 1.5rem;
}
/* Banner related styles */
.banner{
    background-color: #1A0B2E;
    background-image:url(./assets/microphone.png), url(./assets/hero-circle.png), url(./assets/hero-bg.png);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center 25%, center 15%, center;
    background-size: 100px, 315px, cover;
    height: 650px;
    margin: 0;
    padding-top: 20px;
}
.hero-badge{
    font-weight: 800;
    font-size: 5rem;
    margin-bottom: 0;
}
.hero-badge-content{
    font-weight: 400;
    font-size: 1rem;
    margin-top:0;
}
.hero-content{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 330px;
}
/* About section styles */
.about{
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    
}
.about-content-section{
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 40px;
}
.about-heading{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 0px;
}
.about-content{
    font-size: 1rem;
    font-weight: 400;
}
.about-stats{
    justify-content: center;
    gap: 100px;
    margin: 120px 200px;
}
#stats{
    color: #00FF88;
    font-size: 3rem;
    font-weight: 700;
}
#second-stats{
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    white-space:nowrap;
}

/* Why chose section styles */
.why-choose{
    background-color: #230E3D;
    padding-bottom: 120px;
}
.section-heading{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    padding-top: 120px;
}

.card-container>*{
    padding: 20px 40px;
    border-radius: 40px;
    background-color: rgba(53, 17, 101, 0.4);
    align-items: center;

}

.card-1{
    grid-area: card-1;
}
.card-2{
    grid-area: card-2;
}
.card-3{
    grid-area: card-3;
}
.card-4{
    grid-area: card-4;
}
.card-5{
    grid-area: card-5;
}

.card-container{
    display: grid;
    grid-template-areas: 
    "card-1 card-2 card-2"
    "card-1 card-3 card-3"
    "card-4 card-4 card-5";
    grid-gap: 20px;
    margin: 0px 200px 120px 200px;
}

#card-heading{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}
#card-content{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}
/* Responsive Styles  */
@media screen and (max-width: 576px) {
    .nav-links,.btn-primary{
    display: none;
}
.navbar{
    background-image: url(./assets/hamburger-menu.png);
    background-repeat: no-repeat;
    background-position: right 20px center;

}
.banner{
    width: 100%;
    background-size: 100px, 200px, cover;

}
.hero-badge{
    width: 100%;
    max-width: 200px;
}
}


